USER_SCOPE = 'USER'
ADMIN_SCOPE = 'ADMIN'

SSL= false
SSL_PRIV_KEY=/var/www/html/ssl/privkey.pem
SSL_CERT=/var/www/html/ssl/fullchain.pem
PORT=3000
ADMIN_SK= 'admin_super_seckret_key'

MONGO_DB_URI='mongodb://localhost:27017/Stepzsync'

STRIPE_SECRET_KEY='gfghgkh'
STRIPE_API_VERSION='ggighiuhgi'